<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="add-sensor">
					<div class="title-bar">Haha</div>
					<div class="sensor-icon" id="sensor-icon" style="position:absolute; left:0px; top:0px;" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left"><img src="img/sensor/bbs.png"/></div>
				</div>
			</div>
		</div>
	</div>
</div>
