<div id="complete" class="slide">
	<div class="container" style="text-align:center;">
		<div class="row">
			<h1>应用已经生效</h1>
		</div>
		<button class="btn btn-danger" name="btn-close" id="btn-close" onclick="this.close();">关闭</button>
	</div>
</div>
