<div id="sensors" class="slide active">
	<div class="slide-container">
		<div class="container">
			<div class="row">
				<h2>触发器</h2>
			</div>
			<div id="sensor-group-list">
			</div>
			<div class="row">
				<div class="panel panel-default panel-btn" id="panel-add">
					<div class="panel-body">
						<div class="container">
							<div class="row">
								<i class="glyphicon glyphicon-plus"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row bottom-btn-row">
				<button class="btn btn-default">开始</button>
				<button class="btn btn-default pull-right nav-next" name="nav-next">下一步&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></button>
			</div>
		</div>
	</div>
</div>
