<div id="configurations" class="slide">
	<div class="container">
		<div class="row">
			<h2>应用配置</h2>
		</div>
		<div class="row">
			<div id="configuration-list" class="configuration-list">
			</div>
		</div>
		<div class="row bottom-btn-row">
			<button class="btn btn-default nav-prev" name="nav-prev"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;上一步</button>
			<button class="btn btn-primary pull-right" name="btn-complete" id="btn-complete">完成&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></button>
		</div>
	</div>
</div>
