<div id="operators" class="slide">
	<div class="container">
		<div class="row">
			<h2>执行器</h2>
		</div>
		<div class="row">
			<div id="operator-list" class="operator-list">
				<button type="button" class="btn btn-icon btn-default btn-add" id="btn-add-operator">
					<div class="btn-content"><i class="glyphicon glyphicon-plus"></i></div>
				</button>
			</div>
		</div>
		<div class="row bottom-btn-row">
			<button class="btn btn-default nav-prev" name="nav-prev"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;上一步</button>
			<button class="btn btn-default pull-right nav-next" name="nav-next">下一步&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></button>
		</div>
	</div>
</div>
